@import "./component";
@import "./nav";
@import "./register";
@import "./movieCard";
@import "./movieCardSelect";
@import "./profile";
@import "./search";
@import "./bienvenida";

body {
  background:#1e1b1b;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

.pages {
  color: #316685;
  text-align: center;
  font-size: 3.5rem;
  margin-top: 10%;
}


h2{
  font-size: 20px;
  font-family: 'Josefin Sans', sans-serif;
}

h5{
  font-size: 20px;
  font-family: 'Source Code Pro', monospace;
}
//Contenedor Movies
